nav-icon {
	height: 50px;
	width: 50px;
}

#navbar {
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-around;

}

#distance-slider {
  padding: 20px;
}



/*nav {
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}*/