nav-icon {
	height: 50px;
	width: 50px;
}

#navbar {
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-around;

}

#distance-slider {
  padding: 20px;
}

.shortlist-restaurant {
	display: block;
}

.SL-item {
	vertical-align: middle;
	height: 70px;
	width: 100px;
	display: inline
	margin: 0;
	margin-bottom: 0;
	padding: 0;
}
.SL-detail {
	vertical-align: middle;
	height: 70px;
	width: 300px;
	display: inline;
}


/*nav {
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}*/